.list{
    border: 1px solid #000;
    padding-right: 10px;
}

.add-text{
    border: 1px solid #000;
    padding: 10px 10px;
    margin: 10px 10px;
}

.data{
    border: 1px solid #000;
}

.table-information{
    padding: 10px 10px;
    margin: 10px 10px;
}

h5{
    background-color: rgb(230, 231, 232);
    padding: 10px;
}