*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-header{
    background-color: #2D3E50 ;
    color: white;
}

.top-header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 5px;
    margin: auto;
}

.mid-header img {
    width: 100%;
    height: auto;
    padding: 20px 10px;
}

.mid-header .row {
    align-items: center;
}

.mid-header .search {
    display: flex;
    border: 2px solid #000;
    width: 250px;
    align-items: center;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.mid-header .search i {
    color: #000;
}

.mid-header .search input {
    border: none;
    padding: 10px 10px;
}

.cart{
    background-color: #e83d2b;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
}

.price{
    color: #e83d2b;
    font-weight: bold;
    font-size: large;
}

.cart-info {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.cart-block{
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav {
    background-color: #7a3e9d;
    width: 100%;
}

ul.head {
    display: flex;
    list-style: none;
    margin: 0;
}

ul.head > li {
    position: relative; 
    display: flex;
}

ul.head >li > a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center; 
    padding: 0 12px; 
    font-weight: bold;
    min-height: 50px; 

}


ul.head > li:hover {
    background-color: #834ca5; 
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    min-width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

.sub-menu a {
    text-decoration: none;
    color:#7a3e9d;
    font-weight: bold; 
    padding: 10px 20px;
    display: block;
    align-items: center;
}

.sub-menu li:hover > a {
    background-color: #7a3e9d;
    color: white;
    text-decoration: none;
}

.has-child:hover .sub-menu {
    display: block;
}


.body{
    padding: 10px 10px;
}

main h1 {
    width: 100%;
    margin-top: 20px;
    padding: 10px 10px;
    background-color: #f3f2f2;
    border-top:2px dotted #d3d3d3;
    border-bottom:2px dotted #d3d3d3;
    border-left: 5px solid #7a3e9d ;
    font-size: larger ;
}


.product-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.product {
    width: 23%; 
    background-color: #f8f8f8; 

}


.product-img {
    position: relative; 
    background-color: #fff; 
    margin-bottom: 15px;
}

.product-img img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.product-img .badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e83d2b; 
    color: white;
    padding: 15px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0;
}


.product h3 {
    font-size: 16px;
    font-weight: bold;
    color: #444;
    margin-bottom: 5px;
    line-height: 1.4;
}

.product .code {
    color: #7a3e9d; 
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px; 
}

.product .no-dis {
    text-decoration: line-through; 
    color: #999; 
    font-size: 14px;
    margin-bottom: 2px;
}

.product .dis {
    color: #e83d2b;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}