.employee-table {
    width: 700px;
    text-align: left;
}

thead tr {
    background: #5cb800;
    color: #d9f2a6;
}

thead th {
    padding: 9px 16px;
}

tbody td {
    padding: 9px 16px;
}

tbody tr:nth-child(even) {
    background: #ebe9d3;
}

.flag {
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    height: 16px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}